@import url(footer.css);
@import url(contacts.css);
@import url(services.css);
@import url(competencies.css);
@import url(projects.css);
@import url(header.css);
@import url(burger.css);

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: IBM Plex Mono;
  font-weight: 400;
  background-color: black;
}

.body_fixed {
  overflow: hidden;
}

button {
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

.general-container {
  width: 1150px;
  margin: 0 auto;
}

.mb-150 {
  margin-bottom: 150px;
}

h1,
h2,
h3,
a,
p,
div,
button {
  letter-spacing: -0.03em;
}

h2 {
  font-size: 55px;
  line-height: 72px;
  color: #ffffff;
}

h3 {
  font-size: 35px;
  line-height: 46px;
  color: #ffffff;
}

.competence-description,
.service-description {
  font-size: 22px;
  line-height: 29px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .general-container {
    width: 100%;
    padding: 0 15px 0 15px;
  }
  h2 {
    font-size: 45px;
    line-height: 58px;
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
  }

  .competence-description,
  .service-description {
    font-size: 18px;
    line-height: 23px;
  }
}

@media (max-width: 767px) {
  .general-container {
    padding: 0 12px 0 13px;
  }

  .mb-150 {
    margin-bottom: 100px;
  }

  h2 {
    font-size: 30px;
    line-height: 39px;
  }
}
